<img src="zurag/kiss-emoji-kiss.gif" id="nyanCursor" alt="cursor" />
<header class="header">
  <div class="logo">
    <a href="#">Shimane Design</a>
  </div>
  <nav class="nav-menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">私たちについて</a></li>
      <li><a href="/school">学校について</a></li>
      <li><a href="/3d">3D</a></li>
      <li><a href="/career">学科紹介</a></li>
      <li><a href="#access">アクセス</a></li>
    </ul>
  </nav>
</header>
