:root {
    --black: #000000;
    --white: #ffffff;
    --red: #f13343;
    --font_family: "Josefin Sans", sans-serif
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    font-size: .10976948408342481vh
}

body {
    font-size: 12rem;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--black);
    color: var(--black);
    overflow: hidden
}

span {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    font-size: inherit;
    font-family: inherit;
    vertical-align: bottom
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    z-index: -1
}

a {
    text-decoration: none;
    font-size: 50rem
}

h1 {
    color: var(--black);
    font-size: 100rem;
    font-weight: 700;
    text-transform: uppercase
}

.controls {
    width: 500rem;
    height: 80rem;
    position: absolute;
    bottom: 50rem;
    left: 50%;
    transform: translate(-50%);
    background-image: url(/images/controls.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    mix-blend-mode: difference;
    transition: opacity .3s ease-in-out;
    opacity: 0
}

.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none
}

.gallery_link {
    width: 220rem;
    height: 50rem;
    font-size: 15rem;
    font-family: var(--font_family);
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate(-50%,-50%);
    column-gap: 10rem;
    pointer-events: none;
    opacity: 0
}

.gallery_link div {
    width: 20rem;
    height: 20rem;
    background-image: url(/images/enter.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat
}

.link_open {
    pointer-events: all;
    opacity: 1;
    transition: opacity .3s ease-in-out
}

.big_link {
    scale: 1.1
}

.link_open:hover {
    opacity: .5
}

.article_container {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    font-size: 15rem;
    -webkit-user-select: none;
    user-select: none
}

.article_left,.article_mid,.article_right {
    width: 100%;
    font-family: var(--font_family)
}

.article_mid {
    min-width: 720rem;
    max-width: 720rem
}

.article_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 50rem;
    padding-top: 50rem;
    padding-bottom: 50rem
}

.article_left ul li {
    list-style: none
}

.data_top {
    text-align: right
}

.data_top li {
    margin-bottom: 2rem
}

.data_bottom li {
    margin-top: 2rem
}

.article_left li span span {
    transform: translateY(100%)
}

.article_right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 50rem;
    padding-top: 50rem;
    padding-bottom: 50rem
}

.contact_button {
    position: relative;
    border: none;
    background: transparent;
    font-family: var(--font_family);
    font-size: 15rem;
    text-align: right;
    padding-right: 12rem;
    margin-right: 100rem;
    transition: opacity .2s ease-in-out;
    opacity: .6;
    pointer-events: all;
    padding-top: 20rem;
    padding-left: 20rem;
    color: var(--black)
}

.contact_button .personnageTarget {
    position: absolute;
    bottom: -10rem;
    right: -50rem;
    width: 10rem;
    height: 10rem
}

.contact_button:after {
    content: "";
    position: absolute;
    bottom: 2rem;
    right: 0;
    width: 10rem;
    height: 17rem;
    background-color: var(--black);
    animation: clignote 1s infinite
}

.contact_button:hover {
    cursor: pointer;
    opacity: 1
}

.article_arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70vw;
    height: 50rem;
    display: flex;
    justify-content: space-between;
    pointer-events: all
}

.article_arrows .arrowL,.article_arrows .arrowR {
    width: 50rem;
    height: 50rem
}

.article_arrows .arrowL a,.article_arrows .arrowR a {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
    background: transparent;
    transition: opacity .2s ease-in-out;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25rem
}

.article_arrows .arrowL a {
    background-image: url(/images/arrowL.svg)
}

.article_arrows .arrowR a {
    background-image: url(/images/arrowR.svg)
}

.article_arrows .arrowL a {
    transform: translate(100%)
}

.article_arrows .arrowR a {
    transform: translate(-100%)
}

.article_arrows .arrowL a:hover,.article_arrows .arrowR a:hover {
    cursor: pointer;
    opacity: .5
}

.menu {
    font-family: var(--font_family);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden
}

.menu_button {
    position: absolute;
    top: 50rem;
    right: 50rem;
    -webkit-user-select: none;
    user-select: none
}

.menu_open button {
    transition: opacity .3s ease-in-out
}

.menu_button button {
    font-family: var(--font_family);
    font-size: 15rem;
    mix-blend-mode: difference;
    color: var(--white);
    text-transform: uppercase;
    background: transparent;
    border: none;
    transform: translateY(100%)
}

.menu_button button:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none
}

.menu_button button:hover,.menu_button:hover {
    cursor: pointer
}

.menu_text {
    position: relative;
    height: 100%;
    padding: 50rem;
    display: flex;
    justify-content: center;
    mix-blend-mode: difference;
    position: absolute;
    top: 0;
    left: 0
}

.search_bar {
    position: absolute;
    bottom: 50rem;
    right: 50rem;
    width: 200rem;
    text-align: left;
    display: flex;
    column-gap: 5rem;
    opacity: 0
}

.search_bar input {
    background: none;
    border: none;
    font-family: var(--font_family);
    font-size: 15rem;
    color: var(--white);
    pointer-events: none;
    caret-color: var(--white)
}

.search_bar input::placeholder {
    font-family: var(--font_family);
    color: var(--white)
}

.search_bar input:focus {
    background-color: none;
    border: none;
    outline: none
}

.menu_main_links {
    height: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    width: 120rem;
    font-family: var(--font_family)
}

.menu_main_links span {
    position: relative;
    width: 100%
}

.menu_links {
    height: 95%;
    width: 200rem;
    overflow-y: scroll
}

.menu_links ul li {
    overflow: hidden;
    position: relative
}

.menu_links ul li a {
    color: var(--white);
    font-family: var(--font_family)
}

.menu_links::-webkit-scrollbar {
    display: none
}

.menu_main_links a {
    color: var(--white);
    font-weight: 350;
    transform: translateY(-110%)
}

.menu_main_links a {
    font-size: 30rem;
    display: inline-block;
    margin-bottom: 0rem;
    width: 100%;
    padding-right: 5rem;
    transition: opacity .2s ease-in-out
}

.menu_links a {
    font-size: 15rem;
    transform: translateY(-100%);
    display: block;
    margin-left: 5rem;
    padding-bottom: 2rem
}

.menu_links_hover {
    position: absolute;
    top: 0;
    left: 0rem;
    width: 100%;
    height: 100%;
    background-image: url(/images/hover_small.png);
    background-repeat: no-repeat;
    background-position: 0,0;
    pointer-events: none;
    mix-blend-mode: difference;
    display: none
}

.menu_line {
    height: 100%;
    width: 1rem;
    background-color: var(--white);
    margin-left: 30rem;
    margin-right: 30rem;
    height: 0%
}

.menu_links ul li:hover .menu_links_hover {
    display: block
}

.menu_main_links span a:hover {
    opacity: .4
}

.menu_canvas_container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 80%;
    padding: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0
}

.menu_canvas_container img {
    width: 100vh;
    height: 100vh;
    object-fit: cover;
    object-position: 0rem 50rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.menu_canvas_container video {
    width: 100vh;
    height: 100vh;
    object-fit: cover;
    mix-blend-mode: multiply;
    position: absolute;
    filter: saturate(0) invert(1);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.menu_actif {
    opacity: .2
}

.menu_contact,.menu_insta {
    position: absolute;
    color: var(--white);
    bottom: 0;
    right: 0;
    border: none;
    background: transparent;
    font-family: var(--font_family);
    font-size: 15rem;
    text-align: right;
    opacity: 0;
    pointer-events: none;
    margin-bottom: 50rem;
    margin-right: 50rem;
    transition: opacity .2s ease-in-out
}

.menu_contact:after {
    content: "";
    position: absolute;
    bottom: 0rem;
    right: -12rem;
    bottom: 2rem;
    width: 10rem;
    height: 17rem;
    background-color: var(--white);
    animation: clignote 1s infinite
}

.menu_contact:hover,.menu_insta:hover {
    cursor: pointer;
    opacity: 1
}

.menu_insta {
    bottom: 25rem;
    margin-right: 40rem
}

@keyframes clignote {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.loader {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    color: var(--white);
    font-family: var(--font_family);
    z-index: 999;
    display: none;
    align-items: space-between;
    justify-content: center;
    flex-direction: column;
    padding: 50rem
}

.loader_line {
    width: 0%;
    height: 1rem;
    background-color: var(--white);
    margin-top: 10rem;
    margin-left: auto;
    margin-bottom: 10rem
}

.loader_title {
    color: var(--white);
    font-size: 40rem;
    text-transform: none;
    text-align: right;
    transform: translateY(110%)
}

.loader_sub {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 15rem;
    letter-spacing: 10rem
}

.loader_subtitle {
    transform: translate(10rem,-110%)
}

.loader_number {
    transform: translateY(-110%)
}

@media (max-width: 820px) {
    html {
        font-size:.10976948408342481vh
    }

    .menu_button {
        position: absolute;
        top: 30rem;
        right: 30rem;
        -webkit-user-select: none;
        user-select: none
    }

    .controls {
        display: none
    }

    .joystick_container {
        transition: opacity .3s ease-in-out;
        opacity: 0
    }

    .article_container {
        overflow: hidden
    }

    .article_arrows {
        position: absolute;
        width: 100vw;
        height: 50rem;
        display: flex;
        justify-content: space-between;
        pointer-events: all
    }

    .article_arrows .arrowL,.article_arrows .arrowR {
        -webkit-backdrop-filter: blur(5rem);
        backdrop-filter: blur(5rem);
        border: solid 1rem var(--black);
        border-radius: 50rem;
        margin-left: 30rem;
        margin-right: 30rem
    }

    .article_mid {
        max-width: 0rem;
        min-width: 0rem
    }

    .article_right {
        padding-right: 30rem;
        padding-top: 30rem;
        padding-bottom: 30rem
    }

    .article_left {
        padding-left: 30rem;
        padding-top: 30rem;
        padding-bottom: 30rem
    }

    .data_top {
        text-align: left
    }

    .menu_video,.menu_image {
        display: none
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden
    }

    .menu_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 80%;
        padding: 30rem
    }

    .menu_main_links {
        width: 95rem
    }

    .menu_button button {
        mix-blend-mode: normal;
        color: var(--black);
        font-size: 20rem
    }

    .menu_close button {
        mix-blend-mode: normal;
        color: var(--white)
    }

    .data_top {
        position: absolute;
        top: 30rem;
        left: 30rem
    }

    .data_bottom {
        position: absolute;
        bottom: 30rem;
        left: 30rem
    }

    .contact_button {
        position: absolute;
        right: 30rem;
        bottom: 30rem;
        margin-right: 90rem;
        color: #000
    }

    .article_container {
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%
    }

    .menu_links {
        height: 80%
    }
}
